/** @format */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
}
#main {
	width: 100%;
	position: relative;
	background-color: #fef9f3;
}
#main #loader {
	/* position: absolute; */
	top: 0%;
	left: 0%;
	height: 100vh;
	width: 100%;
	/* background-color: #222; */
	background: linear-gradient(80deg, #110e1f, #1b1730);
	position: fixed;
	overflow: hidden;
	z-index: 9999;
}
#loader .text {
	width: 100%;
	height: 100vh;
	background-image: url(./images/background.jpg);
	background-size: 100% 100%;
	background-position: center;
	font-family: Gloss And Bloom;
	font-size: 90px;
	text-align: center;
	line-height: 650px;
	position: absolute;
	font-weight: 900;
	font-style: italic;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-5deg);
	color: #d2006b;
	/* color: transparent; */
	-webkit-background-clip: text;
	pointer-events: none;
	animation: anim1 1s infinite, anim2 2s infinite forwards;
}

@keyframes anim1 {
	0% {
		background-image: url(./images/background.jpg);
	}
	10% {
		background-image: url(./images/background1.jpg);
	}
	20% {
		background-image: url(./images/background2.jpg);
	}
	30% {
		background-image: url(./images/background3.webp);
	}
	40% {
		background-image: url(./images/background4.jpeg);
	}
	50% {
		background-image: url(./images/background5.jpg);
	}
	60% {
		background-image: url(./images/background6.jpeg);
	}
	70% {
		background-image: url(./images/background7.jpg);
	}
	80% {
		background-image: url(./images/background8.jpg);
	}
	90% {
		background-image: url(./images/background9.jpg);
	}
	100% {
		background-image: url(./images/background4.jpeg);
	}
}
@keyframes anim2 {
	from {
		color: #d2006b;
	}
	to {
		color: transparent;
	}
}

#loader .title {
	font-family: monospace;
	font-size: 12px;
	color: white;
	letter-spacing: 5px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* navbar */
#navbar {
	height: 10vh;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: #fef9f3;
	padding-left: 2vw;
	border-bottom: 0.12vw solid #dadada;
	/* position: sticky; */
	top: 0;
}
#navbar #nav-left {
	height: 100%;
	/* text-align: center; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
}
#nav-left h1 {
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
	line-height: 1;
	font-size: 2vw;
	font-weight: 700;
	font-family: Gilroy;
	height: 100%;
	display: flex;
}
#nav-left h1:nth-child(1) {
	align-items: flex-end;
}
#nav-left h1:nth-child(2) {
	align-items: flex-start;
	margin-left: 1.6vw;
}
#navbar #nav-middle {
	width: 20%;
	text-align: center;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
#nav-middle i {
	font-size: 4vw;
	font-weight: 900;
	transform: scaleX(3);
}
#navbar #nav-right {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
}
#nav-right #nr-left {
	width: 20%;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	border-right: 0.2vw solid #dadada;
}
#nr-left i {
	font-size: 3vw;
	font-weight: 600;
}
#nav-right #nr-mid {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	font-size: 1.4vw;
	font-weight: 400;
	border-right: 0.12vw solid #dadada;
	height: 100%;
}
#nav-right #nr-mid:hover {
	background-color: #df80ac;
}
#nav-right #nr-right {
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
	width: 40%;
	height: 100%;
	background-color: #292929;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: 800;
	font-size: 1.3vw;
}
#nav-right #nr-right:hover {
	background: linear-gradient(to right, #fff, #fff);
}
#nav-right #nr-right:hover h3 {
	color: #222222;
}
/* signup page */

#sign-up-page {
	height: 100vh;
	width: 100%;
	display: flex;
}
#sign-up-page #left {
	display: flex;
	align-items: center;
	justify-content: center;
	/* width: 50%; */
	/* width: fit-content; */
	width: 50%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
	background-color: #f8b3da;
}
#left img {
	/* width: 0%; */
	width: 60%;
	height: 70%;
}
#right {
	background-image: url(./images/signbg.jpeg);
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 50%;
}
#right #overlay {
	height: 10vh;
	width: 100%;
}
#right #r1 {
	height: 10%;
	width: 100%;
	display: flex;
	font-weight: 900;
	/* background-color: RED; */
	align-items: center;
	justify-content: center;
	gap: 4vw;
	font-size: 1.8vw;
	color: #d2006b;
	/* cursor: pointer; */
}
#r1 {
	cursor: pointer;
}
#right #form {
	height: 80%;
	width: 100%;
	/* background-color: #dadada; */
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}
#form h1 {
	font-size: 3vw;
	font-family: Gloss And Bloom;
	font-style: italic;
	width: 50%;
	text-align: center;
	background-image: url(./images/background2.jpg);
	-webkit-background-clip: text;
	pointer-events: none;
	object-fit: cover;
	object-position: center;
	font-weight: 1000;
	animation: anim1 1s infinite, anim2 2s infinite forwards;
}

#form #first,
#last,
#email {
	font-size: 1.4vw;
	padding: 1vw 1.2vw;
	border-radius: 4vw;
	width: 80%;
}
#form input::placeholder {
	text-align: end;
	font-size: 1.6vw;
	font-family: Gilroy;
	font-weight: 600;
}
#form h5 {
	font-size: 1.3vw;
	font-family: Gilroy;
	font-weight: 800;
}
#form p {
	font-size: 1vw;
	font-family: Gilroy;
	font-weight: 600;
	width: 60%;
}
#form p span a {
	text-decoration: none;
}
#form .btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	color: #222;
	font-size: 1.3vw;
	border-radius: 4vw;
	padding: 1vw 5vw;
	position: relative;
	border: 0.12vw solid #222;
	font-weight: 900;
	/* z-index: 1; */
	background-color: #fef9f3;
	color: #d2006b;
	font-family: Gloss And Bloom;
	border-radius: 10vw;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}

.btn:hover {
	transform: translateY(-1vw) translateX(1vw);
	box-shadow: 0 10px 20px rgba(34, 34, 34, 0.74);
	background-color: #d2006b;
	color: #fef9f3;
}
.btn:active {
	box-shadow: 0 5px 10px rgba(34, 34, 34, 0.167);
	transform: translateY(-0.5vw) translateX(-0.5vw);
}
@media (max-width: 550px) {
	#right {
		height: 100%;
		width: 100%;
	}
	#sign-up-page #left {
		height: 0;
		width: 0;
	}
	#right h1 {
		font-size: 8vw;
	}
	#form #first,
	#last,
	#email {
		padding: 2vw 4vw;
		height: 8%;
		/* opacity: 0.3; */
		background-color: transparent;
		border: 0.17vw solid #dadadaad;
		font-size: 6vw;
		border-radius: 7vw;
		box-shadow: 0 10px 20px rgba(34, 34, 34, 0.74);
	}
	#form input::placeholder {
		font-size: 4vw;
		font-weight: 700;
		color: #222;
	}
	#form h5 {
		font-size: 3.4vw;
	}
	#form p {
		font-size: 3vw;
	}
	#form .btn:link,
	.btn:visited {
		font-size: 3vw;
		padding: 1.5vw 7vw;
		/* z-index: 1; */
		border-radius: 10vw;
	}

	#form .btn:hover {
		transform: translateY(-1vw) translateX(1vw);
		box-shadow: 0 10px 20px rgba(34, 34, 34, 0.74);
		background-color: #d2006b;
		color: #fef9f3;
	}
	#form .btn:active {
		box-shadow: 0 5px 10px rgba(34, 34, 34, 0.167);
		transform: translateY(-0.5vw) translateX(-0.5vw);
	}
}
