/** @format */

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	min-height: 100%;
	width: 100%;
	font-family: Gilroy;
	background-color: #fef9f3;
	/* overflow: hidden; */
}

#main {
	position: relative;
	/* height: 100vh; */
	width: 100%;
	/* cursor: none; */
	/* pointer-events: none; */
	overflow: hidden;
	background-color: #fef9f3;
}
#main #loader {
	/* position: absolute; */
	top: 0%;
	left: 0%;
	height: 100vh;
	width: 100%;
	/* background-color: #222; */
	background: linear-gradient(80deg, #110e1f, #1b1730);
	position: fixed;
	overflow: hidden;
	z-index: 9999;
}
#loader .text {
	width: 100%;
	height: 100vh;
	background-image: url(./images/background.jpg);
	background-size: 100% 100%;
	background-position: center;
	font-family: Gloss And Bloom;
	font-size: 90px;
	text-align: center;
	line-height: 650px;
	position: absolute;
	font-weight: 900;
	font-style: italic;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-5deg);
	color: #d2006b;
	/* color: transparent; */
	-webkit-background-clip: text;
	pointer-events: none;
	animation: anim1 1s infinite, anim2 2s infinite forwards;
}

@keyframes anim1 {
	0% {
		background-image: url(./images/background.jpg);
	}
	10% {
		background-image: url(./images/background1.jpg);
	}
	20% {
		background-image: url(./images/background2.jpg);
	}
	30% {
		background-image: url(./images/background3.webp);
	}
	40% {
		background-image: url(./images/background4.jpeg);
	}
	50% {
		background-image: url(./images/background5.jpg);
	}
	60% {
		background-image: url(./images/background6.jpeg);
	}
	70% {
		background-image: url(./images/background7.jpg);
	}
	80% {
		background-image: url(./images/background8.jpg);
	}
	90% {
		background-image: url(./images/background9.jpg);
	}
	100% {
		background-image: url(./images/background4.jpeg);
	}
}
@keyframes anim2 {
	from {
		color: #d2006b;
	}
	to {
		color: transparent;
	}
}

#loader .title {
	font-family: monospace;
	font-size: 12px;
	color: white;
	letter-spacing: 5px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body::-webkit-scrollbar {
	display: none;
}
#part1 {
	height: 100vh;
	width: 100%;
	/* background-color: red; */
	position: relative;
	/* overflow: hidden; */
	cursor: none;
	/* pointer-events: none; */
}
#main > svg {
	/* display: none; */
	position: absolute;
	/* transition: opacity cubic-bezier(0.19, 1, 0.22, 1) 9s; */
	top: 50%;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99999;
	width: 5vw;
	height: 5vw;
	pointer-events: none;
}
#cursor {
	opacity: 0;
	/* display: none; */
	height: 11vw;
	width: 11vw;
	background-color: #fff;
	z-index: 999999;
	border-radius: 50%;
	border: 0.14vw solid #292929;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: -6px 5px 0px 4px #292929;
	display: flex;
	color: #222;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	/* cursor: none; */
	font-size: 2vw;
	transition: opacity cubic-bezier(0.19, 1, 0.22, 1) 2.3s;
}
#cursor h1 {
	font-size: 1.3vw;
	color: #222;
}

/* styling of nav bar */

#navbar {
	height: 15vh;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 5;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: #fef9f3;
	padding-left: 2vw;
	border-bottom: 0.12vw solid #dadada;
	/* position: sticky; */
	top: 0;
}
#navbar #nav-left {
	height: 100%;
	/* text-align: center; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
}
#nav-left h1 {
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
	line-height: 1;
	font-size: 2vw;
	font-weight: 700;
	font-family: Gilroy;
	height: 100%;
	display: flex;
}
#nav-left h1:nth-child(1) {
	align-items: flex-end;
}
#nav-left h1:nth-child(2) {
	align-items: flex-start;
	margin-left: 1.6vw;
}
#navbar #nav-middle {
	width: 20%;
	text-align: center;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
#nav-middle i {
	font-size: 4vw;
	font-weight: 900;
	transform: scaleX(3);
}
#navbar #nav-right {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
}
#nav-right #nr-left {
	width: 20%;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	border-right: 0.2vw solid #dadada;
}
#nr-left i {
	font-size: 3vw;
	font-weight: 600;
}
#nav-right #nr-mid {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	font-size: 1.4vw;
	font-weight: 400;
	border-right: 0.12vw solid #dadada;
	height: 100%;
}
#nav-right #nr-mid:hover {
	background-color: #df80ac;
}
#nav-right #nr-right {
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
	width: 40%;
	height: 100%;
	background-color: #292929;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: 800;
	font-size: 1.3vw;
}
#nav-right #nr-right:hover {
	background: linear-gradient(to right, #fff, #fff);
}
#nav-right #nr-right:hover h3 {
	color: #222222;
}

/* styling for full screen div works when menu is clicked */
#full-scr {
	height: 0vh;
	z-index: 3;
	width: 100%;
	/* position: absolute; */
	position: relative;
	background-color: #222;
	top: 0%;
	left: 0%;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.9s;
}
#full-scr .cirimg {
	height: 0vw;
	pointer-events: none;
	width: 0vw;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	background-size: cover;
	transform: translate("-50%", "-50%");
	background-position: center;
	transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.7s;
}
#full-scr #full-btm p {
	width: fit-content;
	display: inline-block;
}
#full-scr #cir-img1 {
	background-image: url(./images/1-2.jpg);
	top: 22%;
	left: 19%;
}
/* #full-scr #para1:hover .cirimg {
	 transform: scale(3); 
	height: 20vw;
} */
#full-scr #cir-img2 {
	background-image: url(./images/2.jpg);
	top: 28%;
	right: 15%;
}
#full-scr #cir-img3 {
	background-image: url(./images/5.jpg);
	top: 78%;
	left: 17%;
}
#full-scr #cir-img4 {
	background-image: url(./images/6.jpg);
	top: 58%;
	left: 35%;
}
#full-scr #cir-img5 {
	background-image: url(./images/LC_Menu_Articles7.jpg);
	top: 18%;
	left: 15%;
}
#full-scr #cir-img6 {
	background-image: url(./images/LC-99.jpg);
	top: 68%;
	left: 65%;
}
#full-scr #cir-img7 {
	background-image: url(./images/LC-TWC-main.jpg);
	top: 48%;
	left: 50%;
}
#full-scr #full-top {
	height: 15vh;
	width: 100%;
	background-color: transparent;
}
#full-scr #full-btm {
	height: 85%;
	width: 100%;
	background-color: transparent;
	color: #fef9f3;
	font-size: 3vw;
	font-weight: 900;
	display: none;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
/* styling for page1 */
#page1cover {
	height: 100vh;
	width: 100%;
}
#page1cover #navover {
	height: 10%;
	width: 100%;
}
#part1 #page1 {
	/* position: absolute;
	bottom: 0%;
	left: 0; */
	z-index: 1;
	height: 85%;
	width: 100%;
	/* overflow: hidden; */
	display: flex;
	border-bottom: 0.12vw solid #222;

	/* background-color: salmon; */
}
#page1-left {
	width: 50%;
	height: 100%;
	bottom: 0;
	position: relative;
	background-color: #df80ac;
	border-bottom: 0.12vw solid #222;
}
#page1-left p {
	font-size: 1.6vw;
	padding-bottom: 1vw;
	font-weight: 700;
	position: absolute;
	bottom: 30%;
	left: 5%;
}

#page1-left h1 {
	position: absolute;
	bottom: 5%;
	left: 5%;
	font-size: 4vw;
	font-weight: 600;
}
#page1-left #no2,
#no3,
#no4,
#no5 {
	opacity: 0;
}
#page1-right {
	bottom: 0;
	width: 50%;
	height: 100%;
	background-color: #fef9f3;
	position: relative;
}
#page1-img-container {
	width: 80%;
	height: 70%;
	background: url(./images/LC-98.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	margin-top: 3vw;
	/* transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s; */
}
#page1-right #page1-progress-bar {
	height: 3vw;
	margin: 0 auto;
	margin-top: 2vw;
	width: 80%;
	/* background-color: red; */
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#page1-progress-bar #progress {
	width: 80%;
	border-radius: 2vw;
	border: 0.12vw solid #adadad;
	height: 40%;
	box-shadow: -3px 3px 0px 1px #292929;
	/* background-color: #df80ac; */
	overflow: hidden;
}
#progress #status {
	/* animation-name: progress;
	animation-duration: 5s;
	animation-iteration-count: infinite; */
	width: 0%;
	height: 100%;
	background-color: #df80ac;
}
/* part 2 designing */
#part2 {
	height: 100vh;
	width: 100%;
}
#part2 #listen {
	height: 20%;
	width: 100%;
	background-color: #fef9f3;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#listen #listen-right {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 2vw;
	/* padding: 0 2vw; */
}
#listen > h1 {
	font-size: 3vw;
	margin-left: 2vw;
}
#listen-right #l1 {
	width: 70%;
	font-size: 1vw;
	font-weight: 600;
}
#listen-right a {
	text-decoration: none;
	color: #222;
	font-size: 1.7vw;
	font-weight: 600;
}

#part2 #profile {
	height: 80%;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	/* display: flex; */
}
#part2 #profile::-webkit-scrollbar {
	display: none;
}

#profile .cards {
	height: 100%;
	width: 33%;
	background-color: #fef9f3;
	border: 0.1vw solid #222;
	display: inline-block;
	/* display: flex; */
	/* align-items: center; */
	overflow: hidden;
	position: relative;
	/* justify-content: center; */
}
.cards #info {
	position: absolute;
	bottom: 0;
	height: fit-content;
	width: 100%;
	font-size: 2vw;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	background-color: rgba(34, 34, 34, 0.557);
}

#profile .cards .profimg {
	height: 80%;
	width: 70%;
	position: absolute;
	top: 13%;
	left: 10%;
	transform: translate("-50%", "-50%");
	background-color: #fef9f3;
	border-radius: 50%;
	transform-origin: 50% 50%;
	transform: rotate(45deg);
	background-size: cover;
	background-position: center;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

#profile .cards #prof1 {
	background-image: url(./images/LC-LLN-main.jpg);
}
#profile .cards #prof2 {
	background-image: url(./images/LC-RTT-main.jpg);
}
#profile .cards #prof3 {
	background-image: url(./images/LC-LR-main.jpg);
}
#profile .cards #prof4 {
	background-image: url(./images/LC-SITBI-main.jpg);
}
#profile .cards #prof5 {
	background-image: url(./images/LC-TWC-main.jpg);
}
#profile .cards #prof6 {
	background-image: url(./images/LC-latesha-main.jpg);
}

#profile .cards .profimg:hover {
	transform: rotate(0deg) scale(2);
	height: 100%;
	width: 100%;
	border-radius: 0%;
	/* border-radius: 0; */
}
/* part-2 sign up part */
#main #part-3 {
	height: 100vh;
	width: 100%;
	/* background-color: blue; */
}
#part3-sign-up {
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 3vw;
	width: 100%;
	background-color: #e5855e;
	border-bottom: 0.12 solid #222222;
}
#part3-sign-up h1 {
	font-size: 5.3vw;
	font-weight: 900;
}
#part3-sign-up h3 {
	font-size: 1.7vw;
	text-align: center;
	font-weight: 900;
}

/* universal styling for any button */
.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	color: #222;
	font-size: 1.3vw;
	border-radius: 4vw;
	padding: 1vw 5vw;
	position: relative;
	border: 0.12vw solid #222;
	font-weight: 900;
	/* z-index: 1; */
	background-color: #fef9f3;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
}
.btn:hover {
	transform: translateY(-1vw) translateX(1vw);
	box-shadow: 0 10px 20px rgba(34, 34, 34, 0.74);
}
.btn:active {
	box-shadow: 0 5px 10px rgba(34, 34, 34, 0.167);
	transform: translateY(-0.5vw) translateX(-0.5vw);
}
#part-3 #watch {
	height: 20%;
	width: 100%;
	display: flex;
}
#watch #watch-left {
	height: 100%;
	padding: 0 2vw;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 50%;
}
#watch-left h1 {
	font-size: 2vw;
	font-weight: 900;
}
#watch #watch-right {
	height: 100%;
	padding: 0 2vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
}
#watch-right p {
	font-size: 1vw;
	font-weight: 600;
	width: 70%;
}
#watch-right a {
	text-decoration: none;
	color: #222;
	font-size: 1.3vw;
	font-weight: 900;
}

/* styling of part-4 */
#main #part-4 {
	height: 85vh;
	width: 100%;
	border-top: 0.12 solid #222;
	display: flex;
}
#part-4-left {
	height: 100%;
	width: 50%;
	background-color: #895434;
	position: relative;
}
#part-4-left h1 {
	font-size: 4vw;
	font-weight: 900;
	margin: 4vw 2vw;
}
#part-4-left #btn1 {
	border-radius: 50%;
	margin-right: 2vw;
	height: 5.5vw;
	width: 5.5vw;
	display: flex;
	align-items: center;
	padding: 0 0;
	justify-content: center;
	/* display: inline-block; */
	background-color: #fef9f3;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#part-4-left #btn2 {
	border-radius: 50%;
	background-color: transparent;
	height: 5.5vw;
	width: 5.5vw;
	display: flex;
	align-items: center;
	padding: 0 0;
	justify-content: center;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#part-4-left #btn-idx {
	position: absolute;
	height: 20%;
	width: 40%;
	display: flex;
	justify-content: center;
	gap: 2vw;
	align-items: center;
	bottom: 5%;
	left: 5%;
}
#part-4-right {
	height: 100%;
	width: 50%;
	object-fit: cover;
	position: relative;
}
#part-4-right #part4-img1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	pointer-events: none;
	left: 50%;
	transform: translate(-50%, -50%);
}
#part-4-right #part4-img2 {
	width: 0%;
	position: absolute;
	top: 50%;
	pointer-events: none;
	left: 50%;
	height: 100%;
	transform: translate(-50%, -50%);
}
/* styling of part-5 */
#main #part-5 {
	height: 112vh;
	width: 100%;
}
#part-5 #unqrow {
	width: 100%;
	height: calc(100% / 7);
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* background-color: red; */
	border-top: 0.15vw solid rgba(34, 34, 34, 0.767);
	border-bottom: 0.15vw solid rgba(34, 34, 34, 0.767);
}
#unqrow h1 {
	font-size: 3vw;
	font-weight: 900;
	/* height: 100%; */
	margin-left: 2vw;
}
#unqrow #unqrgt {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2vw;
}
#unqrgt p {
	font-size: 1vw;
	font-weight: 500;
	width: 70%;
}
#unqrgt h3 {
	font-size: 1.4vw;
	font-weight: 800;
}
/* ROW STYLING */
#part-5 .row {
	height: calc(100% / 7);
	width: 100%;
	padding: 2vw;
	display: flex;
	align-items: center;
	border-bottom: 0.15vw solid rgba(34, 34, 34, 0.767);
	justify-content: space-between;
	position: relative;
}

.row .hover {
	height: 29vw;
	width: 17vw;
	opacity: 0;
	top: -140%;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
	transform-origin: "50%", "50%";
	transform: rotate(-35deg);
	left: 40%;
	position: absolute;
	border-radius: 50%;
	/* background-color: yellow; */
	user-select: none;
	pointer-events: none;
	cursor: none;
	object-fit: cover;
	object-position: center;
	overflow: hidden;
}
.row .hover img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.row h1 {
	font-size: 2.9vw;
	font-weight: 1000;
	pointer-events: none;
	user-select: none;
}
.row h3 {
	user-select: none;
	pointer-events: none;
	font-size: 1.5vw;
	font-weight: 700;
}
/* styling for part-6 */
#main #part-6 {
	height: 80vh;
	width: 100%;
	/* display: flex; */
}
#main #part-6 #part6-sign-up {
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 3vw;
	width: 100%;
	background-color: #df80ac;
	border-bottom: 0.12 solid #222222;
}
#part6-sign-up h1 {
	font-size: 5.3vw;
	font-weight: 900;
}
#part6-sign-up h3 {
	font-size: 1.5vw;
	width: 54%;
	text-align: center;
	font-weight: 900;
}
#part-6 #featured {
	height: 20%;
	border-bottom: 0.1vw solid #222;
	border-top: 0.1vw solid #222;
	display: flex;
	align-items: center;
}
#featured #fleft {
	width: 20%;
	height: 100%;
}
#featured #fmid {
	height: 100%;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#fmid h1 {
	font-size: 3.4vw;
	font-weight: 1000;
}
#fright h3 {
	font-size: 1.2vw;
	font-weight: 800;
}
#featured #fright {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 2vw;
	width: 20%;
}
/* part-7 styling */
#part-7 {
	height: 60vh;
	width: 100%;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.3fr 0.3fr;
	gap: 0.5px 0.5px;
	grid-auto-flow: row;
	justify-items: center;
	align-items: center;
	grid-template-areas:
		"google espn twt accen forb"
		"drop web hm bla ny";
	width: 100%;
	height: 70vh;
	font-size: 3vw;
	/* background-color: #df80ac; */
	align-content: center;
}

.google {
	justify-self: center;
	align-self: center;
	grid-area: google;
}

.espn {
	justify-self: center;
	align-self: center;
	grid-area: espn;
}

.accen {
	grid-area: accen;
	justify-self: center;
	align-self: center;
}

.forb {
	grid-area: forb;
	justify-self: center;
	align-self: center;
}

.drop {
	grid-area: drop;
	justify-self: center;
	align-self: center;
}

.web {
	grid-area: web;
	justify-self: center;
	align-self: center;
}

.hm {
	grid-area: hm;
	justify-self: center;
	align-self: center;
}

.bla {
	grid-area: bla;
	justify-self: center;
	align-self: center;
}

.ny {
	grid-area: ny;
	justify-self: center;
	align-self: center;
}

.twt {
	justify-self: center;
	align-self: center;
	grid-area: twt;
}

/* part-8 styling */
#part-8 {
	background-color: #222;
	height: 90vh;
	width: 100%;
}
#part-8 #prt1 {
	height: 30%;
	width: 100%;
	padding: 0 2vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fef9f3;
	/* background-color: yellow; */
}
#prt1 #head {
	height: 100%;
	width: 30%;
	line-height: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* background-color: red; */
}
#head h1 {
	font-size: 3vw;
	font-weight: 800;
}
#head h2 {
	font-size: 3vw;
	font-weight: 800;
	margin-left: 3vw;
}
#prt1 p {
	width: 44%;
	font-size: 1.4vw;
	font-weight: 500;
}
#prt1 .bg {
	background-color: #fef9f3;
	/* height: 20%; */
	/* width: 10%; */
	color: #222;
	/* padding: ; */
}
#prt2 {
	height: 50%;
	width: 100%;
	/* background-color: red; */
}
#prt2-left {
	width: 50%;
	height: 100%;
	display: flex;
	/* background-color: green; */
	align-items: center;
	justify-content: space-around;
	padding: 0% 5vw;
	padding-top: 4vw;
	padding-right: 2vw;
}
#prt2-left .col {
	height: 100%;
	width: 30%;
	/* background-color: blue; */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 3vw 0;
	justify-content: space-between;
}
.col p {
	font-size: 1.4vw;
	font-weight: 800;
	color: #fef9f3;
}

#part-8 #prt3 {
	height: 30%;
	width: 100%;
	/* background-color: red; */
	display: flex;
	align-items: center;
	padding-bottom: 2vw;
	justify-content: space-evenly;
}
#prt3-left {
	height: 100%;
	width: 25%;
	display: flex;
	/* background-color: yellow; */
	align-items: center;
	justify-content: flex-start;
}
#prt3 h3 {
	font-size: 1.2vw;
	font-weight: 900;
	margin-left: 2vw;
	color: #fef9f3;
}
#prt3-mid h3 {
	width: 100%;
	font-size: 1vw;
	/* height: 100%; */
	margin: 0 auto;
	text-align: center;
}
#prt3-mid {
	height: 100%;
	width: 30%;
	display: flex;
	/* background-color: blue; */
	align-items: center;
	justify-content: flex-start;
}
#prt3-right {
	height: 100%;
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* background-color: green; */
}
#prt3-right i {
	font-size: 2vw;
	color: #fef9f3;
}

/* media query section */
@media (max-width: 754px) {
	#profile .cards {
		width: 48%;
	}
	#part3-sign-up {
		row-gap: 6vw;
	}
	#part3-sign-up h1 {
		font-size: 6vw;
	}
	#part3-sign-up h3 {
		font-size: 2.5vw;
	}
	#part6-sign-up {
		row-gap: 6vw;
	}
	#part6-sign-up h1 {
		font-size: 6vw;
	}
	#part6-sign-up h3 {
		font-size: 2.5vw;
	}
	.btn:link,
	.btn:visited {
		font-size: 2.3vw;
		border-radius: 4vw;
		padding: 1.4vw 7vw;
	}
}
@media (max-width: 623px) {
	#profile .cards {
		width: 58%;
	}
	#part3-sign-up {
		row-gap: 8vw;
	}
	#part3-sign-up h1 {
		font-size: 7vw;
	}
	#part3-sign-up h3 {
		font-size: 2.5vw;
	}
	#part6-sign-up {
		row-gap: 8vw;
	}
	#part6-sign-up h1 {
		font-size: 7vw;
	}
	#part6-sign-up h3 {
		font-size: 2.5vw;
	}
	.btn:link,
	.btn:visited {
		font-size: 2.4vw;
		border-radius: 4.2vw;
		padding: 1.9vw 9vw;
	}
}
@media (max-width: 529px) {
	#profile .cards {
		width: 68%;
	}
	#navbar {
		height: 10vh;
		padding: 5vw;
	}
	#navbar h1 {
		font-size: 5vw;
	}
	#nav-middle i {
		font-size: 8vw;
	}
	#navbar #nav-right i {
		font-size: 8vw;
		margin-right: 4vw;
	}
	/* footer part1 */
	#prt1 #head {
		height: 100%;
		width: 30%;
		line-height: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* background-color: red; */
	}
	#prt1 #head h1 {
		font-size: 2vw;
		font-weight: 800;
	}
	#prt1 #head h2 {
		font-size: 2vw;
		font-weight: 800;
		margin-left: 2vw;
	}
	#prt1 p {
		width: 40%;
		font-size: 1.4vw;
		font-weight: 500;
	}
	#prt1 .bg {
		background-color: #fef9f3;
		/* height: 20%; */
		padding: 1vw 2vw;
		white-space: nowrap;
	}
	/* footer prt3 */
	#prt2 {
		height: 30%;
	}
	#part-8 #prt3 {
		height: 50%;
		width: 100%;
		flex-direction: column;
		row-gap: 0vw;
		align-items: center;
		padding-bottom: 2vw;
		justify-content: space-evenly;
	}
	#prt3-left {
		height: 25%;
		width: 100%;
		display: flex;
		/* background-color: yellow; */
		align-items: center;
		justify-content: center;
	}
	#prt3 h3 {
		font-size: 2vw;
		font-weight: 900;
		/* margin-left: 2vw; */
	}
	#prt3-mid h3 {
		width: 50%;
		font-size: 1.3vw;
	}
	#prt3-mid {
		height: 25%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#prt3-right {
		height: 50%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	#prt3-right i {
		font-size: 3vw;
		color: #fef9f3;
	}
	/* part-4section */
	#main #part-4 {
		flex-direction: column;
	}
	#part-4-left {
		height: 40%;
		width: 100%;
	}
	#part-4-left h1 {
		font-size: 8vw;
		margin: 5vw 2vw;
	}
	#part-4-left #btn1 {
		margin-right: 3vw;
		height: 10vw;
		width: 10vw;
	}
	#part-4-left #btn2 {
		border-radius: 50%;
		background-color: transparent;
		height: 10vw;
		width: 10vw;
	}
	#part-4-left #btn-idx {
		height: 20%;
		width: 40%;
		display: flex;
		justify-content: center;
		gap: 3vw;
		bottom: 17%;
		left: 1%;
	}
	#part-4-right {
		height: 60%;
		width: 100%;
		object-fit: cover;
	}
	#part-4-right #part4-img1 {
		width: 100%;
		height: 100%;
	}
	#part-4-right #part4-img2 {
		width: 0%;
	}
}
@media (max-width: 449px) {
	#profile .cards {
		width: 98%;
	}
	#profile .cards .profimg {
		transform: rotate(0deg);
	}
	#profile .cards .profimg:hover {
		transform: rotate(0deg) scale(1.3);
	}
	#nav-right #nr-mid {
		display: none;
		width: 0%;
	}
	#nav-right #nr-left {
		border: none;
	}
	#nav-right #nr-right {
		display: none;
		width: 0%;
	}
	#navbar #nav-right {
		width: 40%;
		justify-content: flex-end;
		padding-right: 2vw;
	}
	#main #part1 #page1cover #page1 {
		flex-direction: column;
	}
	#page1cover #page1 #page1-left {
		height: 40%;
		width: 100%;
	}
	#page1cover #page1 #page1-right {
		height: 60%;
		width: 100%;
		padding-bottom: 7vw;
	}
	#page1-left p {
		bottom: 40%;
		font-size: 4vw;
		margin-bottom: 2vw;
	}
	#page1-left h1 {
		bottom: 10%;
		font-size: 7vw;
	}
	#page1-img-container {
		margin-top: 18vw;
	}
	.btn:link,
	.btn:visited {
		font-size: 2.5vw;
		border-radius: 4.4vw;
		padding: 2vw 11vw;
	}
	#main #part-6 {
		height: 65vh;
	}
	#part3-sign-up {
		height: 70%;
		row-gap: 12vw;
	}
	#part6-sign-up {
		height: 80%;
		row-gap: 12vw;
	}
	#watch-left h1 {
		font-size: 7vw;
	}
	#watch-right p {
		font-size: 2vw;
		font-weight: 600;
	}
	#watch-right a {
		font-size: 2vw;
		line-height: 1;
	}
}
@media (max-width: 350px) {
	#part-4-left h1 {
		font-size: 8vw;
		margin: 5vw 2vw;
	}
	#part-4-left #btn1 {
		margin-right: 3vw;
		height: 12vw;
		width: 12vw;
	}
	#part-4-left #btn2 {
		border-radius: 50%;
		background-color: transparent;
		height: 12vw;
		width: 12vw;
	}
}
